.btn {
  width: 100%;
  border: 2px solid;
  border-radius: 25%;
  background: none;
  aspect-ratio: 1/1;
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}

.btn.active {
  color: white;
  background-color: hsl(300, 100%, 50%);
  border-color: white;
}

.btn.inactive {
  opacity: 0.5;
}

/* Conditional hover styling */
.btn:hover:not(:disabled) {
  color: fuchsia;
  background-color: white;
}

/* Conditional focus styling */
.btn:focus:not(:disabled) {
  color: white;
  background-color: hsl(300, 100%, 75%);
}
